<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>author articles </title>
</head>
<body>
  
  <h1>articles of author</h1>
  <%- articles %> 
  <%- authorObject %> 

</body>
</html>