<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <%# Bootstrap %> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  

  <title>Login</title>

</head>
<body>
  <%# Navigation %> 
  <%- include('../particials/_navigation', {login: false}) %>

  



  <%# Body section %> 
  <div id="container">
    <div id="body">
      <div class="container mt-5">
     
        <h3 class="text-center mb-3">Login</h3>

        <!-- if we have error message -->
        <% if (typeof message !== 'undefined') { %>
          <div class="alert <%- messageClass %> " role="alert">
            <!-- Display error message -->
            <p><%= message %> </p>  
          </div>
          
        <% } %>
        

          

        
        <form method="POST" action="/users/login">
    
        <!-- Username -->
        <div class="form-group">
          <label for="username">Username: </label>
          <input type="text" name="username" class="form-control" id="username" placeholder="jordanMike98" <% if(typeof username !== 'undefined') {%> value="<%= username %>" <% } %> >
        </div>
        
    
          <!-- Password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="********">
          </div>
    
          
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
    
      </div>
    </div>
  </div>
  

  
</body>
</html>